{% load static %}
<!-- ============================================ -->
<header id="cs-navigation">
  <div class="cs-container">
    <!-- Nav Logo (flush left) -->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img
        src="{% static 'Logo.png' %}"
        alt="logo"
        decoding="async"
      >
    </a>
    <!-- Navigation List (center/right) -->
    <nav class="cs-nav" role="navigation">
      <!-- Mobile Nav Toggle (hidden on desktop via CSS) -->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- Navigation List Wrapper -->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a href="/" class="cs-li-link cs-active">Home</a>
          </li>
          <li class="cs-li">
            <a href="{% url 'contact' %}" class="cs-li-link">Contact</a>
          </li>
          <li class="cs-li">
            <a href="{% url 'pricing' %}" class="cs-li-link">Pricing</a>
          </li>
          <li class="cs-li">
            <a href="{% url 'portfolio' %}" class="cs-li-link">Portfolio</a>
          </li>
          <li class="cs-li">
            <a href="/payment" class="cs-li-link">Payment</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Nav Button (remains on the right) 
    <a href="/contact" class="cs-button-solid cs-nav-button">Contact Us</a>-->
  </div>
</header>
