<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->
{% load static %}

<!-- Global Styles -->
<link rel="stylesheet" href="{% static 'css/corestyles.css' %}">
<link rel="stylesheet" href="{% static 'portfolio.css' %}">
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<script src="{% static 'navbar.js' %}"></script> 
    {% include 'navbar.html' %}
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1724">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We Trained You To Gain</h2>
            </div>
            <p class="cs-text">
                Workouts shift your body from periods of aerobic activity to periods of the best training tools for developing a strong anaerobic activity. When your body is in and “aerobic mode,” your body is using oxygen.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Stretching</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Hypertrophy</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Strength</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">04</span>
                    <h3 class="cs-h3">Yoga</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">05</span>
                    <h3 class="cs-h3">Cardio</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>

{% include 'reviews.html' %}
                                