<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->
 {% load static %}
<link rel="stylesheet" href="{% static 'reviews.css' %}">
<section id="reviews-1088">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Customer Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review1.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Martha Darby</span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Brayan Grilcist</span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/reviews3.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/quotes-2.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Nulla ultricies justo sit amet ante efficitur, eget pharetra augue efficitur. Vestibulum viverra, dolor sit amet ultricies.
                </p>
                <div class="cs-flex">
                    <span class="cs-name">Brucei Elowed </span>
                    <span class="cs-desc">Senior Executive</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                